* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
      background: url("..img/photo-1.jpg") no-repeat center center/cover;
  }

  
  a {
    color: #333;
    text-decoration: none;
  }
  
  
  
  h3 {
    padding-bottom: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  
  .robo-rob {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }
  
  .text-primary {
    color: #f7c08a;
  }
  
  .lead {
    font-size: 20px;
  }
  
  .btn {
    display: inline-block;
    font-size: 18px;
    color: red;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #f7c08a;
    color: #333;
  }
  
  .btn-light {
    background: #f4f4f4;
    color: #333;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .bg-light {
    background: #fff;
    color: #333;
  }
  
  .bg-primary {
    background: #f7c08a;
    color: #333;
  }
  
  .clr {
    clear: both;
  }
  
  .heading-main {
    font-size: 40px;
    line-height: 1.2;
  }
  
  
  .py-1 {
    padding: 10px 0;
  }
  .py-2 {
    padding: 20px 0;
  }
  .py-3 {
    padding: 30px 0;
  }
  
  
  
  #navbat .logo {
    float: left;
    padding-top: 20px;
  }
  
  #navbat ul {
    list-style: none;
    float: right;
  }

  
  #navbat {
    background: #333;
    color: #fff;
    overflow: auto;
  }
  
  #navbat a {
    color: #fff;
  }
  
  #navbat ul li {
    float: left;
  }
  
  #navbat ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  #navbat ul li a:hover,
  #navbat ul li a.current {
    background: #444;
    color: #f7c08a;
  }
  

  
  

  #home-info {
    height: 400px;
  }
  
  #home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/photo-1.jpg") no-repeat;
    min-height: 100%;
  }
  
  #home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    
  }
  
  #home-info .info-content p {
    padding-bottom: 30px;
  }
  
  
  .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
  }
  
  .box i {
    margin-bottom: 10px;
  }
  
  
  #about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
  }
  
  #about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
  }
  
  #about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
  }
  #c-form .form-group {
    margin-bottom: 20px;
  }
  
  #c-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #c-form input,
  #c-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
  }
  
  #c-form textarea {
    height: 200px;
  }
  
  #c-form input:focus,
  #c-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
  }
  
  
  #main-footer {
    text-align: center;
    background: #444;
    color: white;
    padding: 20px;
  }
  